<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <h1>OTT-Craft</h1>
                <h5 style="color:red;">MAIN PAGE</h5>
                <p>This is the landing page. It should be vibrant and engaging, without being loud and annoying.</p>

                <p>Likely will have a few latest videos linked here, along with some bits of info that links deeper into the site.</p>

                <p>showcase some merch here (when the time is right)</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
